* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.cdnfonts.com/css/agbalumo");
.header {
  position: absolute;
}

.header.header--fixed {
  position: fixed;
  top: 0;
}

.main-menu > li > a.active {
  color: blue;
}

#section-1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgb(237, 199, 201);
  background: linear-gradient(
    90deg,
    rgba(237, 199, 201, 1) 0%,
    rgba(237, 193, 197, 1) 5%,
    rgba(237, 190, 196, 1) 31%,
    rgba(210, 146, 173, 1) 82%,
    rgba(242, 87, 143, 1) 98%
  );
  .homeHeading {
    position: absolute;
    top: 14%;
    right: 5%;
    h1 {
      background: rgb(227, 8, 104);
      background: linear-gradient(
        90deg,
        rgba(227, 8, 104, 1) 0%,
        rgba(99, 12, 126, 1) 37%,
        rgba(11, 94, 192, 1) 94%
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
    font-weight: bold;
    font-size: 80px;
    font-family: "Agbalumo", sans-serif;
  }
  .donutsHome {
    padding-top: 150px;
    padding-left: 100px;
    img {
      width: 900px;
      height: 500px;
    }
  }
}
.section-2Heading {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Agbalumo", sans-serif;
  background: rgb(227, 8, 104);
  background: linear-gradient(
    90deg,
    rgba(227, 8, 104, 1) 0%,
    rgba(99, 12, 126, 1) 37%,
    rgba(11, 94, 192, 1) 94%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 50px;
}
#section-2 {
  padding-top: 200px;
  width: 100vw;
  height: 100vh;
  background: rgb(237, 199, 201);
  background: linear-gradient(
    90deg,
    rgba(237, 199, 201, 1) 0%,
    rgba(237, 193, 197, 1) 5%,
    rgba(237, 190, 196, 1) 31%,
    rgba(210, 146, 173, 1) 82%,
    rgba(242, 87, 143, 1) 98%
  );
  display: flex;
  justify-content: space-between;
  .donutCardChoco {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    img {
      width: 450px;
      height: 450px;
    }
    h2 {
      font-family: "Agbalumo", sans-serif;
      font-weight: bold;
      font-size: 32px;
      position: absolute;
      top: 70%;
      color: rgb(188, 132, 86);
      color: linear-gradient(
        90deg,
        rgba(188, 132, 86, 1) 0%,
        rgba(144, 113, 83, 1) 30%,
        rgba(121, 67, 7, 1) 55%,
        rgba(174, 105, 16, 1) 98%
      );
    }
    p {
      font-family: "Agbalumo", sans-serif;
      font-size: 22px;
      position: absolute;
      top: 80%;
      color: #42275a; 
      color: -webkit-linear-gradient(
        to right,
        #734b6d,
        #42275a
      ); 
      color: linear-gradient(
        to right,
        #734b6d,
        #42275a
      );
    }
  }
  .donutCardVanilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      width: 400px;
      height: 400px;
    }
    h2 {
      font-family: "Agbalumo", sans-serif;
      font-weight: bold;
      font-size: 32px;
      position: absolute;
      top: 70%;
      color: rgb(243, 216, 195);
      color: linear-gradient(
        90deg,
        rgba(243, 216, 195, 1) 0%,
        rgba(204, 188, 173, 1) 30%,
        rgba(248, 167, 78, 1) 55%,
        rgba(221, 170, 105, 1) 98%
      );
    }
    p {
      font-family: "Agbalumo", sans-serif;
      font-size: 22px;
      position: absolute;
      top: 80%;
      color: #42275a; 
      color: -webkit-linear-gradient(
        to right,
        #734b6d,
        #42275a
      ); 
      color: linear-gradient(
        to right,
        #734b6d,
        #42275a
      );
    }
  }
  .donutCardSweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      width: 400px;
      height: 400px;
    }
    h2 {
      font-family: "Agbalumo", sans-serif;
      font-weight: bold;
      font-size: 32px;
      position: absolute;
      top: 70%;
      color: rgb(227, 8, 104);
      color: linear-gradient(
        90deg,
        rgba(227, 8, 104, 1) 0%,
        rgba(99, 12, 126, 1) 37%,
        rgba(11, 94, 192, 1) 94%
      );
    }
    p {
      font-family: "Agbalumo", sans-serif;
      font-size: 22px;
      position: absolute;
      top: 80%;
      color: #42275a; 
      color: -webkit-linear-gradient(
        to right,
        #734b6d,
        #42275a
      ); 
      color: linear-gradient(
        to right,
        #734b6d,
        #42275a
      );
    }
  }
}

#section-3 {
  width: 100vw;
  height: 70vh;
  background: rgb(237, 199, 201);
  background: linear-gradient(
    90deg,
    rgba(237, 199, 201, 1) 0%,
    rgba(237, 193, 197, 1) 5%,
    rgba(237, 190, 196, 1) 31%,
    rgba(210, 146, 173, 1) 82%,
    rgba(242, 87, 143, 1) 98%
  );
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  position: absolute;
  padding-top: 15px;
  right: 10%;
  bottom: 0%;
  list-style-type: none;
  li {
    text-decoration: none;
    font-weight: bold;
    color: #464646;
    font-size: 30px;
    font-family: "Agbalumo", sans-serif;
  }
}

.main-menu > li > a:hover,
.main-menu > li > a.active {
  color: #560c02;
}

.main-menu-holder {
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgb(237, 199, 201);
  background: linear-gradient(
    90deg,
    rgba(237, 199, 201, 1) 0%,
    rgba(237, 193, 197, 1) 5%,
    rgba(237, 190, 196, 1) 31%,
    rgba(210, 146, 173, 1) 82%,
    rgba(242, 87, 143, 1) 98%
  );
  position: fixed;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
  box-shadow: -1px 0px 4px #464646;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toleft {
  left: -180px;
}

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 80px;
  height: 80px;
}
