* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
}

.header.header--fixed {
  position: fixed;
  top: 0;
}

.main-menu > li > a.active {
  color: blue;
}

#section-1 {
  width: 100vw;
  height: 100vh;
  background-image: url("/resources/Background-Section1.png");
  background-size: cover;
}

#section-2 {
  width: 100vw;
  height: 70vh;
  background-color: red;
}

#section-3 {
  width: 100vw;
  height: 70vh;
  background-color: pink;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  position: absolute;
  padding-top: 15px;
  right: 10%;
  bottom: 0%;
  li {
    font-size: 30px;
  }
}

.main-menu > li > a:hover,
.main-menu > li > a.active {
  color: #560c02;
}

.main-menu-holder {
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgb(233, 171, 186);
  position: sticky;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
  box-shadow: -1px 0px 4px #464646;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toleft {
  left: -180px;
}

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 80px;
  height: 80px;
}
