*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
  }
  
  .header.header--fixed {
    position: fixed;
    top: 0;
  }
  
  .main-menu > li > a.active {
    color: blue;
  }
  

  #section-1{
    width: 100vw;
    height: 100vh;
    background-color: pink;
  }

  #section-2{
    width: 100vw;
    height: 100vh;
    background-color: red;
  }

  #section-3{
    width: 100vw;
    height: 100vh;
    background-color: pink;
  }